.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container span{
    font-size: 1.1rem;
    color: #555;
    margin: 15px 0;
}

.containerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerTitle h2{
    margin-bottom: 10px;
}

.barraTitulo{
    width: 80px;
    height: 5px;
    background-color: #2562eb;
    margin-top: 0;
    margin-bottom: 30px;
}

.cardsContainer {
    display: flex; /* En lugar de grid, usa flex para más control */
    flex-wrap: wrap; /* Permite que las tarjetas se acomoden en varias líneas */
    justify-content: center; /* Centra las tarjetas */
    gap: 30px; /* Espaciado uniforme */
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.cardServices {
    flex: 1 1 300px; /* Las tarjetas pueden reducirse hasta 300px si es necesario */
    max-width: 500px; /* Evita que crezcan demasiado */
    min-height: 150px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.cardServices:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.273);
    border: 1px solid #2562eb;
}

h3 {
    margin: 10px 0;
    font-size: 1.5rem; /* Aumenta el tamaño del título */
    color: #333;
}

.cardServices span {
    color: #666;
    font-size: 1rem; /* Antes era 14px, ahora es más grande */
}

.iconContainer{
    width: 50px;
    height: 50px;
    background-color: #2560eb16;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .cardsContainer {
        gap: 40px;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column; /* Apila las tarjetas en una sola columna */
        align-items: center; /* Centra las tarjetas */
        /* Reduce el espacio entre ellas */
    }

    .cardServices {
        width: 90%; /* Asegura que ocupen casi toda la pantalla */
        max-width: 400px; /* Evita que se estiren demasiado */
        max-height: 150px;
    }
}

@media (max-width: 480px) {
    .cardServices {
        width: 80%; /* Ocupar todo el ancho disponible en móviles */
        padding: 20px; /* Ajuste del padding para evitar mucho espacio */
    }

    h3 {
        font-size: 1.3rem; /* Reduce el tamaño del título en móviles */
    }

    .cardServices span {
        font-size: 0.9rem; /* Ajuste en texto para mejor legibilidad */
    }
}

